.background-black{
    background-color:black;
}

.fonte-branca{
    color:white;
}

.flex {
    display: flex;
    flex-direction: column;
}

.tamanho-img{
    width:15%;
}

.align-center {
    align-items: center;
}

.justify-center {
    justify-content: center;
}

.text-box {
    padding: 1%;
    border-radius: 5px;
    width:57vh;
}

.botao {
    margin-top:1%;
    padding: 1%;
    border-radius: 5px;
    width: 62vh;
    background-color: blueviolet;
    color: white;
}